.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; /* Add position relative for child absolute positioning */
}

.headerContainer {
  position: absolute; /* Position the header container inside the .home div */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the header container */
  padding: 30px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2); /* Transparent white background */
  backdrop-filter: blur(10px); /* Add blur effect to create a glass-like effect */
  color: white;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
}

.home .headerContainer h1 {
  font-size: 70px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}

.home .headerContainer p {
  font-size: 40px;
  font-weight: lighter;
  margin: 0;
}

.headerContainer button {
  background-color: #121619;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 180px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.headerContainer button:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}

/* mobile view */
@media only screen and (max-width: 600px) {
  .home {
    justify-content: center;
    align-items: center;
  }
  .headerContainer {
    width: 90%;
    padding: 20px;
    backdrop-filter: blur(5px); /* Reduce blur effect for mobile */
  }
  .home .headerContainer h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .home .headerContainer p {
    font-size: 30px;
  }
  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
  }
}
